{
    "NEO4J_URI": "bolt+ssc://YOUR_INSTANCE_ID.databases.neo4j.io",
    "NEO4J_USER": "neo4j",
    "NEO4J_PASSWORD": "YOUR_NEO4J_PASSWORD",
    "NEO4J_DATABASE": "neo4j",
    "AURA_INSTANCEID": "YOUR_INSTANCE_ID",
    "AURA_INSTANCENAME": "YOUR_INSTANCE_NAME",
    "PINECONE_API_KEY": "YOUR_PINECONE_API_KEY",
    "PINECONE_ENVIRONMENT": "us-east-1-aws",
    "OPENAI_API_KEY": "YOUR_OPENAI_API_KEY",
    "GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY",
    "YOUTUBE_API_KEY": "YOUR_YOUTUBE_API_KEY"
}
